{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <p>You've already logged in!</p>
        <li><a href="{% url 'logout' %}">logout</a></li>
    {% else %}
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
           </table>

           <input type="submit" class="btn btn-primary" value="login" />
           <input type="hidden" name="next" value="{{ next }}" />
       </form>
       <p></p>
       <p> Don't have an account yet? Perhaps you'd like to <a href="{% url 'box:register' %}">register</a>!</p>
       <p> <a href="{% url 'password_reset' %}">Forget your password?</a></p>
   {% endif %}

{% endblock %}

