{% extends "base.html" %}
{% block content %}
{% if not user.is_authenticated %}
    <meta http-equiv="REFRESH" content="0;url={% url 'box:index' %}">
{% endif %}

{% load staticfiles %}

<!DOCTYPE html>
<html>
<body>
    <section class="row">
        <header class="large-12 columns">
            <h1>Welcome to ChexBox!</h1>
            <hr>
        </header>
	{% if user.is_authenticated %}
            <p><a href="{% url 'box:chexbox-add' %}">Upload file</a></p> 
	{% else %}
	    <li><a href="{% url 'login' %}">Login!</a></li> 
    {% endif %}
    </section>
</body>

{% load static %}

<h2>Your uploads!</h2>

{% if file_list %}

<div class="list-group">
  {% for file in file_list %}
  	<a href="{% get_media_prefix %}{{ file.f}}" class="list-group-item">{{ file.f }}</a>
  	<a onclick="return confirm('Are you sure you want to delete the file?')" href="{% url 'box:delete_file' file.id %}" class="btn btn-danger">Delete File</a>
  	
  {% endfor %}
</div>


{% if page_obj.has_other_pages %}
<div class="pagination-centered">
  <ul class="pagination">
    {% if paginator.has_previous %}
    <li class="arrow"><a href="?page={{ paginator.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="arrow unavailable"><a href="">&laquo;</a></li>
    {% endif %}
    {% for pg in paginator.page_range %}
      {% if page_obj.number == pg %}
        <li class="current"><a href="?page={{ pg }}">{{ pg }}</a></li>
      {% else %}
        <li><a href="?page={{ pg }}">{{ pg }}</a></li>
      {% endif %}
    {% endfor %}
    {% if paginator.has_next %}
    <li class="arrow"><a href="?page={{ paginator.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="arrow unavailable"><a href="">&raquo;</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}


{% elif user.is_authenticated %}

  <!--                        -->
  <!-- Your database is empty -->
  <!--                        -->

<div class="panel">
  <p>You haven't uploaded a file yet!</p>
  <p>(hint: Add a <a href="{% url 'box:chexbox-add' %}" title="Add a file">file</a>)</p>
</div>


{% endif %}


{% endblock %}
</html>
