{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>ChexBox</title>
</head>
<body>
    <section class="row">
        <header class="large-12 columns">
            <h1>Welcome to ChexBox!</h1>
            <hr>
        </header>
	{% if user.is_authenticated %}
            <p>Welcome {{ user.username }}!!!</p>    
            <li><a href="{% url 'logout' %}">Logout!</a></li>  
        {% endif %}
    </section>
</body>
{% endblock %}
{% load static %}

